// Global styles

/*
Some Naming conventions for classes
1. use _ for scoped or modules classnames (e.g. card_title)
2. use - for global styles (without scoped or modules) classnames (e.g. button-primary)
*/

@use "./theme" as *;
@use "./pages" as *;

// defaulting
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Global html element styles
body {
  overflow-x: hidden;
  scroll-behavior: none;
  background-color: var(--color-bg);
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-1);
  color: var(--color-text);
}

th,
tr {
  font-weight: unset;
}

h1 {
  font-size: 2.1rem;
  text-transform: uppercase;

  @media screen and (width <= $sm) {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: 1.75rem;
  text-transform: uppercase;

  @media screen and (width <= $sm) {
    font-size: 1.25rem;
  }
}

h3 {
  font-size: 1.5rem;

  @media screen and (width <= $sm) {
    font-size: 1.1rem;
  }
}

h4 {
  font-size: 1.25rem;

  @media screen and (width <= $sm) {
    font-size: 1rem;
  }
}

h5 {
  font-size: 1rem;

  @media screen and (width <= $sm) {
    font-size: 0.9rem;
  }
}

p {
  font-family: var(--font-1);
  color: var(--color-text);
  line-height: 1.6;
  font-size: 1rem;
  text-align: justify;
}
